.nav-bar {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: #ffcb4659;
  box-shadow: -1px 4px 9px 3px #88835b40;
  height: 64px;
  position: relative;
  width: 430px;
}

.nav-bar .search-instance {
  height: 22px !important;
  left: 344px !important;
  position: absolute !important;
  top: 21px !important;
  width: 22px !important;
}

.nav-bar .user {
  background-color: #a5eeff;
  border: 3px solid;
  border-color: #ffffff;
  border-radius: 16px;
  box-shadow: 3px 4px 4px #b0a38157;
  height: 32px;
  left: 382px;
  position: absolute;
  top: 16px;
  width: 32px;
}

.nav-bar .logo {
  height: 32px;
  left: 62px;
  position: absolute;
  top: 16px;
  width: 98px;
}

.nav-bar .dishes {
  height: 32px;
  left: 180px;
  position: absolute;
  top: 23px;
  width: 98px;
}

.nav-bar .text-wrapper-8 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 800;
  height: 32px;
  left: 0;
  letter-spacing: 0.12px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 96px;
}

.nav-bar .list-2 {
  height: 40px !important;
  left: 15px !important;
  position: absolute !important;
  top: 16px !important;
  width: 40px !important;
}
