<head>
    <title>Register</title>
    <script src="{{url_for('static', filename='js/register.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <div id="register">
            <h1>Register</h1>
            <input type="text" name="Username" id="username" placeholder="Username">
            <input type="password" name="Password" id="password" placeholder="Password">
            <input type="password" name="ConfirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <button type="submit" name="Register" id="registerButton" onclick="register()">Register</button>
            </form>
        </div>
    </div>
</body>