.title {
  height: 30px;
  position: relative;
  width: 200px;
}

.title .text-wrapper {
  color: #553d00;
  font-family: "Baloo Paaji-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 30px;
  left: 0;
  letter-spacing: 0.12px;
  line-height: normal;
  /*position: absolute;*/
  text-shadow: 3px 4px 5px #dbc694;
  top: -1px;
  width: 200px;
}
