.dishes-card {
  background-color: #fff6dfa6;
  border: 1px solid;
  border-color: #553d00;
  border-radius: 8px;
  box-shadow: 3px 4px 5px #dac693;
  /*height: 131px;*/
  position: relative;
  display: flex;
  /*width: 366px;*/
}

.dishes-card .dishes-pic {
  background-color: #d9d9d9;
  border-radius: 8px;
  height: 106px;
  width: 106px;
}

.dishes-card .text-wrapper-4 {
  color: #000000;
  font-family: "Baloo Paaji 2", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 20px;
  left: 140px;
  letter-spacing: 0.12px;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: 120px;
}

.dishes-card .line {
  height: 1px;
  left: 140px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 210px;
}

.dishes-card .text-wrapper-5 {
  color: #000000;
  font-family: "Baloo Paaji 2", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  left: 140px;
  letter-spacing: 0.08px;
  line-height: normal;
  position: absolute;
  top: 47px;
  white-space: nowrap;
  width: 180px;
}

.dishes-card .rice {
  height: 16px;
  left: 140px;
  position: absolute;
  top: 102px;
  width: 55px;
}

.dishes-card .icon-instance-node {
  height: 16px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 16px !important;
}

.dishes-card .text-wrapper-6 {
  color: #000000;
  font-family: "Baloo Paaji 2", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 10px;
  left: 20px;
  letter-spacing: -0.16px;
  line-height: normal;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.dishes-card .rice-2 {
  height: 16px;
  left: 209px;
  position: absolute;
  top: 102px;
  width: 55px;
}

.dishes-card .rice-3 {
  height: 16px;
  left: 280px;
  position: absolute;
  top: 102px;
  width: 55px;
}

.dishes-card .text-wrapper-7 {
  color: #000000;
  font-family: "Baloo Paaji 2", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 20px;
  left: 270px;
  letter-spacing: 0.12px;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: 60px;
}
